@model SXEdu2XHKD.WebUI.Models.MemberInfoEditModel

@{
    ViewBag.Title = "新华课典-会员信息修改";
    
    //ViewBag.SpecificValidateJs = "/Scripts/ValidationMethods/ValidateInfo.js";
}

@*<div class="container">*@
    <script src="/Scripts/ValidationMethods/ValidateInfoEdit.js"></script>
    @Html.Partial("_memberInfoEditForm", Model)

@*</div>*@ <!-- /container -->
